<!DOCTYPE html>
<html lang="en" ng-app="todoAngular">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
<div class="container" ng-controller="todoAngularController">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="center" id="title">
                    <h4>Todo AngularJS</h4>
                </div>
            </div>
            <div class="row">
                <div class="col s2 m4">
                    <div class="card">
                        <div class="card-content white-text">
                            <span class="card-title">NEW</span>
                            <input type="text" ng-model="inputTextNew" class="validate"
                                   ng-keypress="($event.keyCode === 13) ? addTask(inputTextNew,'new') : false"
                                   placeholder="Input text here ...">
                        </div>

                        <div id="new" class="connectedSortable">
                            <div class="collection" ng-repeat="new in list.new track by $index">
                                <a class="collection-item">{{ new }}
                                    <span class="badge" ng-click="delTask($index, 'new')">
                                        <i class="small material-icons">delete</i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s2 m4">
                    <div class="card">
                        <div class="card-content white-text">
                            <span class="card-title">DOING</span>
                            <input type="text" ng-model="inputTextDoing" class="validate"
                                   ng-keypress="($event.keyCode === 13) ? addTask(inputTextDoing, 'doing') : false"
                                   placeholder="Input text here ...">
                        </div>

                        <div id="doing" class="connectedSortable">
                            <div class="collection" ng-repeat="doing in list.doing track by $index">
                                <a class="collection-item">{{ doing }}
                                    <span class="badge" ng-click="delTask($index, 'doing')">
                                        <i class="small material-icons">delete</i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s2 m4">
                    <div class="card">
                        <div class="card-content white-text">
                            <span class="card-title">DONE</span>
                            <input type="text" ng-model="inputTextDone" class="validate"
                                   ng-keypress="($event.keyCode === 13) ? addTask(inputTextDone, 'done') : false"
                                   placeholder="Input text here ...">
                        </div>
                        <div id="done" class="connectedSortable">
                            <div class="collection" ng-repeat="done in list.done track by $index">
                                <a class="collection-item">{{ done }}
                                    <span class="badge" ng-click="delTask($index, 'done')">
                                        <i class="small material-icons">delete</i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="center">
                    <button class="btn btn-flat waves-effect" style="border: 1px solid grey;"
                            ng-click="elChange(this.elChange())">TestClick
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
</body>
</html>

<script>
    $(function () {
        $(".connectedSortable").sortable({
            connectWith: ".connectedSortable",
            placeholder: "ui-state-highlight",
            start: function (event, ui) {
//                $(ui[0].addClass('dragging'))
//                console.log($(ui[0]).addClass('dragging'))
            },
            stop: function (event, ui) {
//                console.log(event)
//                $(ui.children()[0].removeClass('dragging'))
            }
        });
    });
</script>

